# Text of a monologue from The Tempest
_0 var-x
_1 var-y
_2 add _0 _1
_3 add _1 _2
_4 add _2 _3
_5 add _3 _4
_6 add _4 _5
_7 add _5 _6
_8 add _6 _7
_9 add _7 _8
_a add _8 _9
_b add _9 _a
_c add _9 _b
_d add _a _9
_e add _b _8
_f add _c _9
_10 add _d _a
_11 add _e _b
_12 add _f _c
_13 add _10 _d
_14 add _11 _e
_15 add _12 _f
_16 add _13 _10
_17 add _14 _11
_18 add _15 _12
_19 add _16 _13
_1a add _17 _14
_1b add _1a _1a
_1c add _1b _19
_1d add _1c _18
_1e add _1d _17
_1f add _1e _16
_20 add _1f _15
_21 add _20 _14
_22 add _21 _13
_23 add _22 _12
_24 add _23 _11
_25 add _24 _10
_26 add _25 _0f
_27 add _26 _0e
_28 add _27 _0d
_29 add _28 _0c
_33 add _0 _1
